/* Simple Calendar Declarations */
.simple-calendar {
    display: inline-block;
    width:            100%;
    margin-left:        0%;
    font-family: "Roboto", sans-serif;
    
    a {
        font-family: inherit;
    }
    
    #month-nav {
        font-size:      3em;
        color:      #00ff00;
        margin-bottom: 25px;
        
        h1 {
            margin-top:      0%;
            margin-bottom: 25px;
            font-size:    1.5em;
            font-weight:   bold;
        }
        a, a:focus, a:hover {
            color:         #00ff00;
            background-color: #FFF;
        }
    }
    
    .cal-row {
        clear:            left;
        padding:        0 auto;
        background-color: #eee;
        
        .day {
            width:  100/7 * 1%;
            height:      1.5em;
            float:        left;
            overflow:   hidden;
            text-align: center;
            padding-top:  auto;
            
            p {
                margin-top: 5%;   
            }
            .claimed-trigger, .day-date-raw {
                display: none;
            }
            .day-date-output {
                margin-top: 43.5%;
                display:    block;
                color:       #000;
            }
            p#unclaimed-link {
                display:     none;
                margin-top: 43.5%;
            }
        }
    }
    .weekdays {
        text-align: center;
        width:  100/7 * 1%;
        float:        left;
    }
    .claimed {
        border-radius:        50%;
        color:               #FFF;
        background-color: #0eff0e;
        
        a {
            color: #FFF;    
        }
        p {
            display:     none;
        }
        .shown {
            display: block;
        }
        p.claimed-info {
            margin-top: 43.5%;
        }
    }
}

@media screen and (min-width: 992px) {
    .simple-calendar {
        #month-nav {
            h1 {
                font-size: 2em;
            }
        }
        .claimed,
        .unclaimed {
            border-radius: 0%;
        }
    }
}