<nav class="orb-nav mobile-content navbar navbar-default">
	<ul class="nav navbar-nav">
		<li class="col-xs-6"><%= link_to image_tag("orbiter-3-logo.png", alt: "Orbiter3 Logo", width: "164px", class: "orbiter-3-logo"),
        'http://www.orbiter3.org/' %></li>
        <li class="col-xs-3"></li>
		<li class="nav-click mob-nav col-xs-3"><%= link_to image_tag("mobile-nav.svg", alt: "Mobile Nav Icon", class: "mob-nav")%></li>
	</ul>
</nav>
