<header>
	<nav>
		<div class="container-fluid">
			<ul class="nav navbar-nav" id="nav-center">
				<li><a href="http://www.orbiter3.org/artists/">Artists</a></li>
				<li class="dropdown">
	    			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">2016 Season</a>
				  	<ul class="dropdown-menu">
				    	<li><a href="http://www.orbiter3.org/i-am-not-my-motherland/">Play 3: I Am Not My Motherland</a></li>
				    	<li><a href="http://www.orbiter3.org/breathe-smoke/">Play 4: Breathe Smoke</a></li>
				    </ul>
				</li>
				<li class="dropdown">
	    			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Past Productions</a>
				  	<ul class="dropdown-menu">
				    	<li><a href="http://www.orbiter3.org/moon-man-walk/">Play 1: Moon Man Walk</a></li>
				    	<li><a href="http://www.orbiter3.org/knee-production/">Play 2: A Knee That Can Bend</a></li>
				    </ul>
				</li>
				<li><a href="http://www.orbiter3.org/" id="orb-3-img"><%= image_tag "../orbiter-3-logo.jpg" %></a></li>
				<li><a href="http://www.orbiter3.org/press/">Press</a></li>
				<li><a href="http://www.orbiter3.org/get-involved/">Get Involved</a></li>
				<li><a href="http://www.orbiter3.org/support/">Donate</a></li>
			</ul>
		</div>
	</nav>
</header>